<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hapus Pemesan</title>
    <link href="../public/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5 text-center">
        <h2 class="text-danger">Hapus Pemesan</h2>
        <p>Apakah Anda yakin ingin menghapus data ini?</p>

        <button id="btnHapus" class="btn btn-danger">Iya</button>
        <a href="main.html" class="btn btn-secondary">Batal</a>
    </div>

    <script src="../public/js/main.js"></script>
</body>
</html>

