<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tambah Pemesan</title>
    <link href="../public/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center fw-bold">Tambah Pemesan</h1>
        <form id="addForm">
            <div class="mb-3">
                <label for="nama" class="form-label">Nama</label>
                <input type="text" class="form-control" id="nama" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
                <label for="nomor_telepon" class="form-label">Nomor Telepon</label>
                <input type="text" class="form-control" id="nomor_telepon" required>
            </div>
            <button type="submit" class="btn btn-success">Simpan</button>
            <a href="main.html" class="btn btn-danger">Kembali</a>
        </form>
    </div>

    <script src="../public/js/main.js"></script>
</body>
</html>

